* {
  font-family: sans-serif;
  margin: 0px;
}

.Digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("./marek-piwnicki-8bT5tqpEswM-unsplash.jpg");
  background-repeat: no-repeat;
}

.Digital .digitalLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 110px;
}

.Digital .button {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spacing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.spacing .dummyText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: bolder;
  margin-top: 50px;
}

.spacing .whiteSolution {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.spacing .whiteSolution .firstRow .white_label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 19px;
}

.spacing .whiteSolution .firstRow .whitePara {
  margin-top: 15px;
  font-size: 15px;
}

.spacing .whiteSolution .secondRow .natural {
  margin-top: 10px;
  font-weight: bold;
  font-size: 19px;
}

.spacing .whiteSolution .secondRow .predictive {
  margin-top: 15px;
  font-size: 15px;
}

.spacing .whiteSolution .thirdRow .powered {
  margin-top: 10px;
  font-weight: bold;
  font-size: 19px;
}

.spacing .whiteSolution .thirdRow .predictives {
  margin-top: 15px;
  font-size: 15px;
}

.Digital1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 400px;
  background-image: url("./taylor-leopold-Rr9zn33OMbk-unsplash.jpg");
  background-repeat: no-repeat;
}

.Digital1 .digitalLine1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 130px;
}

.Digital1 .button {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  background-color: #040d14;
  color: white;
  border-color: white;
  font-size: 10px;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid white;
}
/*# sourceMappingURL=symb.css.map */