* {
  font-family: sans-serif;
  margin: 0px;
}
.Digital {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 400px;
  background-image: url("./marek-piwnicki-8bT5tqpEswM-unsplash.jpg");
  background-repeat: no-repeat;

  .digitalLine {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 110px;
  }
  .button {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
}
.spacing {
  display: flex;
  flex-direction: column;
  .dummyText {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 50px;
  }
  .whiteSolution {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    .firstRow {
      .Image {
      }
      .white_label {
        margin-top: 10px;
        font-weight: bold;
        font-size: 19px;
      }
      .whitePara {
        margin-top: 15px;
        font-size: 15px;
      }
    }
    .secondRow {
      .Image1 {
      }
      .natural {
        margin-top: 10px;
        font-weight: bold;
        font-size: 19px;
      }
      .predictive {
        margin-top: 15px;
        font-size: 15px;
      }
    }
    .thirdRow {
      .Image2 {
      }
      .powered {
        margin-top: 10px;
        font-weight: bold;
        font-size: 19px;
      }
      .predictives {
        margin-top: 15px;
        font-size: 15px;
      }
    }
  }
}
.Digital1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  height: 400px;
  background-image: url("./taylor-leopold-Rr9zn33OMbk-unsplash.jpg");
  background-repeat: no-repeat;

  .digitalLine1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin-top: 130px;
  }
  .button {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
}
.button {
  background-color: #040d14;
  color: white;
  border-color: white;
  font-size: 10px;
  height: 30px;
  width: 90px;
  text-align: center;
  border-radius: 5px;
  border: 0.5px solid rgb(255, 255, 255);
}
